###### Imports and Settings

In [1]:
import pandas as pd
import numpy as np
import requests
import pickle
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)

# Senior Rides Data Pull    

The following code outlines data collection, formatting, cleaning, and calculations for a data request from Wilson Rides, a group providing services to seniors in Wilson County.  

The following data is collected:  
+ population 55+ and 65+  
+ veteran population 55+ and 65+  
+ population below poverty level 55+ and 65+  
+ educational attainment 65+  
+ population living alone 65+  
+ population with a computer by internet subscription type 65+  
+ cost burden for householder age 65+  
+ geographic mobility in the past year 55+ and 65+  

The output is a tabular format that can be reproduced for any county in the region. Geographies include the incorporated areas, the county as a whole, and the unincorporated areas.

In [2]:
#to read in... rb is read bite
with open('api_keys.pkl', 'rb') as keys_file:
        keys_dict_2 = pickle.load(keys_file)

In [3]:
api_key = keys_dict_2['CENSUS']

## API Calls

ID's 1 - 48 for Places

In [4]:
url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key
predicates= {}
get_vars= ["NAME", "GEO_ID",'B01001_001E','B01001_001E','B01001_017E','B01001_018E','B01001_019E',
           'B01001_020E','B01001_021E','B01001_022E','B01001_023E','B01001_024E','B01001_025E',
           'B01001_041E','B01001_042E','B01001_043E','B01001_044E','B01001_045E','B01001_046E','B01001_047E',
           'B01001_048E','B01001_049E','B21001_002E','B21001_014E','B21001_017E','B21001_020E','B21001_032E',
           'B21001_035E','B21001_038E','B17001_001E','B17001_002E','B17001_014E','B17001_015E','B17001_016E',
           'B17001_028E','B17001_029E','B17001_030E','B15001_001E','B15001_035E','B15001_036E','B15001_037E',
           'B15001_038E','B15001_039E','B15001_040E','B15001_041E','B15001_042E','B15001_076E','B15001_077E',
           'B15001_078E','B15001_079E']
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
test= requests.get(url_str, params= predicates)
col_names = ['Place', 'GEOID','pop','agebysex_total_series','age_m_55to59','age_m_60to61','age_m_62to64',
             'age_m_65to66','age_m_67to69','age_m_70to74','age_m_75to79','age_m_80to84','age_m_85+','age_f_55to59',
             'age_f_60to61','age_f_62to64','age_f_65to66','age_f_67to69','age_f_70to74','age_f_75to79','age_f_80to84',
             'age_f_85+','veteran_totalveterans_series','veteran_m55to64','veteran_m65to74','veteran_m75+','veteran_f55to64',
             'veteran_f65to74','veteran_f75+','poverty_total_series','poverty_totalbelowpoverty','poverty_m55to64','poverty_m65to74',
             'poverty_m75+','poverty_f55to64','poverty_f65to74','poverty_f75+','ed_total_series','ed_m65+','ed_m65+_less9thgrade',
             'ed_m65+9thto12th','ed_m65+_highschoolgradequivalency','ed_m65+_somecollegenodegree','ed_m65+_associates','ed_m65+_bachelors',
             'ed_m65+_graduateorprofessionaldegree','ed_f65+','ed_f65+_less9thgrade','ed_f65+9thto12th','ed_f65+_highschoolgradequivalency',
             'StateFIPS','PlaceFIPS']
callone=pd.DataFrame(columns=col_names, data=test.json()[1:], dtype = str)

ID's 1-48 for Wilson County

In [5]:
url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key
predicates= {}
get_vars= ["NAME", "GEO_ID",'B01001_001E','B01001_001E','B01001_017E','B01001_018E','B01001_019E',
           'B01001_020E','B01001_021E','B01001_022E','B01001_023E','B01001_024E','B01001_025E',
           'B01001_041E','B01001_042E','B01001_043E','B01001_044E','B01001_045E','B01001_046E','B01001_047E',
           'B01001_048E','B01001_049E','B21001_002E','B21001_014E','B21001_017E','B21001_020E','B21001_032E',
           'B21001_035E','B21001_038E','B17001_001E','B17001_002E','B17001_014E','B17001_015E','B17001_016E',
           'B17001_028E','B17001_029E','B17001_030E','B15001_001E','B15001_035E','B15001_036E','B15001_037E',
           'B15001_038E','B15001_039E','B15001_040E','B15001_041E','B15001_042E','B15001_076E','B15001_077E',
           'B15001_078E','B15001_079E']
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:189"
predicates["in"]= "state:47"
test= requests.get(url_str, params= predicates)
col_names = ['County','GEOID','pop','agebysex_total_series','age_m_55to59','age_m_60to61','age_m_62to64',
             'age_m_65to66','age_m_67to69','age_m_70to74','age_m_75to79','age_m_80to84','age_m_85+','age_f_55to59',
             'age_f_60to61','age_f_62to64','age_f_65to66','age_f_67to69','age_f_70to74','age_f_75to79','age_f_80to84',
             'age_f_85+','veteran_totalveterans_series','veteran_m55to64','veteran_m65to74','veteran_m75+','veteran_f55to64',
             'veteran_f65to74','veteran_f75+','poverty_total_series','poverty_totalbelowpoverty','poverty_m55to64','poverty_m65to74',
             'poverty_m75+','poverty_f55to64','poverty_f65to74','poverty_f75+','ed_total_series','ed_m65+','ed_m65+_less9thgrade',
             'ed_m65+9thto12th','ed_m65+_highschoolgradequivalency','ed_m65+_somecollegenodegree','ed_m65+_associates','ed_m65+_bachelors',
             'ed_m65+_graduateorprofessionaldegree','ed_f65+','ed_f65+_less9thgrade','ed_f65+9thto12th','ed_f65+_highschoolgradequivalency',
             'StateFIPS','CountyFIPS']
callonewilson=pd.DataFrame(columns=col_names, data=test.json()[1:], dtype = str)

ID's 49-96 Places

In [6]:
url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key
predicates= {}
get_vars= ["NAME", "GEO_ID",'B15001_080E','B15001_081E','B15001_082E','B15001_083E','B09020_001E','B09020_001E','B09020_015E','B09020_018E',
           'B25045_001E','B25045_006E','B25045_015E','B10051_001E','B10051_002E','B10051_005E','B28005_001E','B28005_014E','B28005_015E',
           'B28005_016E','B28005_017E','B28005_018E','B28005_019E','B25093_001E','B25093_023E','B25093_027E','B25093_028E','B25072_001E',
           'B25072_023E','B25072_027E','B25072_028E','B07001_001E','B07001_012E','B07001_013E','B07001_014E','B07001_015E','B07001_016E',
           'B07001_017E','B07001_028E','B07001_029E','B07001_030E','B07001_031E','B07001_032E','B07001_033E','B07001_044E','B07001_045E',
           'B07001_046E','B07001_047E','B07001_048E','B07001_049E']
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
test= requests.get(url_str, params= predicates)
col_names = ['Place', 'GEOID','ed_f65+_somecollegenodegree','ed_f65+_associates','ed_f65+_bachelors','ed_f65+_graduateorprofessionaldegree',
             'livealone_total65+_series','livealone_total65+_inhh','livealone_m65+','livealone_f65+','vehicles_total_byage_series',
             'vehicles_ownerocc_none','vehicles_renterocc_none','grandparent_total_responsibilityforgrandchild_series','grandparent_responsibleforgrandchild',
             'grandparent_resposibleforgrandchild_noparent_60+','computer_total_byage_series','computer_65+_total','computer_65+_computer',
             'computer_65+_computer_dialupalone','computer_65+_computer_broadband','computer_65+_computer_nointernet','computer_65+_nocomputer',
             'housing_total_ownercosts','housing_65+total_ownercosts','housing_65+30to34.9%_ownercosts','housing_65+35%ormore_ownercosts',
             'housing_total_grossrent','housing_65+total_grossrent','housing_65+30to34.9%_grossrent','housing_65+35%ormore_grossrent','geo_total_series',
             'geo_55to59_total','geo_60to64_total','geo_65to69_total','geo_70to74_total','geo_75+_total','geo_samehouse_total','geo_55to59_samehouse',
             'geo_60to64_samehouse','geo_65to69_samehouse','geo_70to74_samehouse','geo_75+_samehouse','geo_movedsamecounty_total','geo_55to59_movedsamecounty',
             'geo_60to64_movedsamecounty','geo_65to69_movedsamecounty','geo_70to74_movedsamecounty','geo_75+_movedsamecounty',
             'geo_moveddifferentcountysamestate_total','StateFIPS','PlaceFIPS']
calltwo=pd.DataFrame(columns=col_names, data=test.json()[1:], dtype = str)

ID's 49-96 Wilson Co

In [7]:
url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key
predicates= {}
get_vars= ["NAME", "GEO_ID",'B15001_080E','B15001_081E','B15001_082E','B15001_083E','B09020_001E','B09020_001E','B09020_015E','B09020_018E',
           'B25045_001E','B25045_006E','B25045_015E','B10051_001E','B10051_002E','B10051_005E','B28005_001E','B28005_014E','B28005_015E',
           'B28005_016E','B28005_017E','B28005_018E','B28005_019E','B25093_001E','B25093_023E','B25093_027E','B25093_028E','B25072_001E',
           'B25072_023E','B25072_027E','B25072_028E','B07001_001E','B07001_012E','B07001_013E','B07001_014E','B07001_015E','B07001_016E',
           'B07001_017E','B07001_028E','B07001_029E','B07001_030E','B07001_031E','B07001_032E','B07001_033E','B07001_044E','B07001_045E',
           'B07001_046E','B07001_047E','B07001_048E','B07001_049E']
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:189"
predicates["in"]= "state:47"
test= requests.get(url_str, params= predicates)
col_names = ['County', 'GEOID','ed_f65+_somecollegenodegree','ed_f65+_associates','ed_f65+_bachelors','ed_f65+_graduateorprofessionaldegree',
             'livealone_total65+_series','livealone_total65+_inhh','livealone_m65+','livealone_f65+','vehicles_total_byage_series',
             'vehicles_ownerocc_none','vehicles_renterocc_none','grandparent_total_responsibilityforgrandchild_series','grandparent_responsibleforgrandchild',
             'grandparent_resposibleforgrandchild_noparent_60+','computer_total_byage_series','computer_65+_total','computer_65+_computer',
             'computer_65+_computer_dialupalone','computer_65+_computer_broadband','computer_65+_computer_nointernet','computer_65+_nocomputer',
             'housing_total_ownercosts','housing_65+total_ownercosts','housing_65+30to34.9%_ownercosts','housing_65+35%ormore_ownercosts',
             'housing_total_grossrent','housing_65+total_grossrent','housing_65+30to34.9%_grossrent','housing_65+35%ormore_grossrent','geo_total_series',
             'geo_55to59_total','geo_60to64_total','geo_65to69_total','geo_70to74_total','geo_75+_total','geo_samehouse_total','geo_55to59_samehouse',
             'geo_60to64_samehouse','geo_65to69_samehouse','geo_70to74_samehouse','geo_75+_samehouse','geo_movedsamecounty_total','geo_55to59_movedsamecounty',
             'geo_60to64_movedsamecounty','geo_65to69_movedsamecounty','geo_70to74_movedsamecounty','geo_75+_movedsamecounty',
             'geo_moveddifferentcountysamestate_total','StateFIPS','CountyFIPS']
calltwowilson=pd.DataFrame(columns=col_names, data=test.json()[1:], dtype = str)

ID's 97-113 places

In [8]:
url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key
predicates= {}
get_vars= ["NAME", "GEO_ID",'B07001_060E','B07001_061E','B07001_062E','B07001_063E',
           'B07001_064E','B07001_065E','B07001_076E','B07001_077E','B07001_078E','B07001_079E','B07001_080E','B07001_081E','B07001_092E',
           'B07001_093E','B07001_094E','B07001_095E','B07001_096E']
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
test= requests.get(url_str, params= predicates)
col_names = ['Place', 'GEOID','geo_55to59_moveddifferentcountysamestate','geo_60to64_moveddifferentcountysamestate',
             'geo_65to69_moveddifferentcountysamestate','geo_70to74_moveddifferentcountysamestate','geo_75+_moveddifferentcountysamestate',
             'geo_moveddifferentstate_total','geo_55to59_moveddifferentstate','geo_60to64_moveddifferentstate','geo_65to69_moveddifferentstate',
             'geo_70to74_moveddifferentstate','geo_75+_moveddifferentstate','geo_movedabroad_total','geo_55to59_movedabroad','geo_60to64_movedabroad',
             'geo_65to69_movedabroad','geo_70to74_movedabroad','geo_75+_movedabroad','StateFIPS','PlaceFIPS']
callthree=pd.DataFrame(columns=col_names, data=test.json()[1:], dtype = str)

ID's 97-113 Wilson Co

In [9]:
url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key
predicates= {}
get_vars= ["NAME","GEO_ID",'B07001_060E','B07001_061E','B07001_062E','B07001_063E',
           'B07001_064E','B07001_065E','B07001_076E','B07001_077E','B07001_078E','B07001_079E','B07001_080E','B07001_081E','B07001_092E',
           'B07001_093E','B07001_094E','B07001_095E','B07001_096E']
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:189"
predicates["in"]= "state:47"
test= requests.get(url_str, params= predicates)
col_names = ['County', 'GEOID','geo_55to59_moveddifferentcountysamestate','geo_60to64_moveddifferentcountysamestate',
             'geo_65to69_moveddifferentcountysamestate','geo_70to74_moveddifferentcountysamestate','geo_75+_moveddifferentcountysamestate',
             'geo_moveddifferentstate_total','geo_55to59_moveddifferentstate','geo_60to64_moveddifferentstate','geo_65to69_moveddifferentstate',
             'geo_70to74_moveddifferentstate','geo_75+_moveddifferentstate','geo_movedabroad_total','geo_55to59_movedabroad','geo_60to64_movedabroad',
             'geo_65to69_movedabroad','geo_70to74_movedabroad','geo_75+_movedabroad','StateFIPS','CountyFIPS']
callthreewilson=pd.DataFrame(columns=col_names, data=test.json()[1:], dtype = str)

## Prepare dataframe.

Drop redundant columns for merge.

In [10]:
callone = callone.drop(columns = ['StateFIPS', 'PlaceFIPS'])
callonewilson = callonewilson.drop(columns = ['StateFIPS','CountyFIPS'])

In [11]:
calltwo = calltwo.drop(columns = ['Place','StateFIPS', 'PlaceFIPS'])
calltwowilson = calltwowilson.drop(columns = ['County','StateFIPS','CountyFIPS'])

In [12]:
callthree = callthree.drop(columns = ['Place'])
callthreewilson = callthreewilson.drop(columns = ['County'])

Merge first and second pulls.

In [13]:
data = callone.merge(calltwo, on = 'GEOID')
wdata = callonewilson.merge(calltwowilson, on = 'GEOID')

Merge first/second with third pull.

In [14]:
data = data.merge(callthree, on = 'GEOID')
wdata = wdata.merge(callthreewilson, on = 'GEOID')

Set the places document to only contain the three incorporated areas of Wilson County: Lebanon, Watertown, and Mount Juliet.

In [15]:
data = data.loc[(data['Place'] == 'Lebanon city, Tennessee')|(data['Place'] == 'Watertown city, Tennessee')|(data['Place'] == 'Mount Juliet city, Tennessee')]
data

,Place,GEOID,pop,agebysex_total_series,age_m_55to59,age_m_60to61,age_m_62to64,age_m_65to66,age_m_67to69,age_m_70to74,age_m_75to79,age_m_80to84,age_m_85+,age_f_55to59,age_f_60to61,age_f_62to64,age_f_65to66,age_f_67to69,age_f_70to74,age_f_75to79,age_f_80to84,age_f_85+,veteran_totalveterans_series,veteran_m55to64,veteran_m65to74,veteran_m75+,veteran_f55to64,veteran_f65to74,veteran_f75+,poverty_total_series,poverty_totalbelowpoverty,poverty_m55to64,poverty_m65to74,poverty_m75+,poverty_f55to64,poverty_f65to74,poverty_f75+,ed_total_series,ed_m65+,ed_m65+_less9thgrade,ed_m65+9thto12th,ed_m65+_highschoolgradequivalency,ed_m65+_somecollegenodegree,ed_m65+_associates,ed_m65+_bachelors,ed_m65+_graduateorprofessionaldegree,ed_f65+,ed_f65+_less9thgrade,ed_f65+9thto12th,ed_f65+_highschoolgradequivalency,ed_f65+_somecollegenodegree,ed_f65+_associates,ed_f65+_bachelors,ed_f65+_graduateorprofessionaldegree,livealone_total65+_series,livealone_total65+_inhh,livealone_m65+,livealone_f65+,vehicles_total_byage_series,vehicles_ownerocc_none,vehicles_renterocc_none,grandparent_total_responsibilityforgrandchild_series,grandparent_responsibleforgrandchild,grandparent_resposibleforgrandchild_noparent_60+,computer_total_byage_series,computer_65+_total,computer_65+_computer,computer_65+_computer_dialupalone,computer_65+_computer_broadband,computer_65+_computer_nointernet,computer_65+_nocomputer,housing_total_ownercosts,housing_65+total_ownercosts,housing_65+30to34.9%_ownercosts,housing_65+35%ormore_ownercosts,housing_total_grossrent,housing_65+total_grossrent,housing_65+30to34.9%_grossrent,housing_65+35%ormore_grossrent,geo_total_series,geo_55to59_total,geo_60to64_total,geo_65to69_total,geo_70to74_total,geo_75+_total,geo_samehouse_total,geo_55to59_samehouse,geo_60to64_samehouse,geo_65to69_samehouse,geo_70to74_samehouse,geo_75+_samehouse,geo_movedsamecounty_total,geo_55to59_movedsamecounty,geo_60to64_movedsamecounty,geo_65to69_movedsamecounty,geo_70to74_movedsamecounty,geo_75+_movedsamecounty,geo_moveddifferentcountysamestate_total,geo_55to59_moveddifferentcountysamestate,geo_60to64_moveddifferentcountysamestate,geo_65to69_moveddifferentcountysamestate,geo_70to74_moveddifferentcountysamestate,geo_75+_moveddifferentcountysamestate,geo_moveddifferentstate_total,geo_55to59_moveddifferentstate,geo_60to64_moveddifferentstate,geo_65to69_moveddifferentstate,geo_70to74_moveddifferentstate,geo_75+_moveddifferentstate,geo_movedabroad_total,geo_55to59_movedabroad,geo_60to64_movedabroad,geo_65to69_movedabroad,geo_70to74_movedabroad,geo_75+_movedabroad,StateFIPS,PlaceFIPS
254,"Lebanon city, Tennessee",1600000US4741520,34759,34759,771,304,487,251,470,574,379,302,293,789,511,578,478,532,659,608,475,663,2394,241,427,481,24,25,0,33228,4881,199,81,7,177,245,194,26689,2269,197,147,771,418,119,439,178,3415,208,246,1392,559,219,445,346,5684,5684,352,1135,12618,27,233,1042,452,59,33154,5219,4290,14,3992,284,929,7230,2515,119,510,5388,742,107,330,34387,1560,1880,1731,1233,2720,27934,1380,1726,1563,1171,2467,3481,81,91,49,27,105,2028,82,60,107,15,84,853,17,3,12,20,56,91,0,0,0,0,8,47,41520
314,"Mount Juliet city, Tennessee",1600000US4750780,35834,35834,841,579,399,367,674,556,358,139,165,1308,530,624,536,373,635,648,320,102,2080,218,556,345,81,16,0,35739,2182,77,70,37,270,114,69,26368,2259,38,59,640,487,230,538,267,2614,74,73,572,744,232,665,254,4873,4873,357,551,12998,48,141,772,273,70,35739,4818,4640,0,4505,135,178,9773,2233,242,248,3225,431,46,178,35367,2149,2132,1950,1191,1732,30127,2036,1871,1612,1069,1706,2071,0,36,13,0,9,1623,19,124,194,22,4,1487,94,101,131,100,13,59,0,0,0,0,0,47,50780
479,"Watertown city, Tennessee",1600000US4778320,1698,1698,65,12,18,19,13,29,14,17,4,47,5,99,23,37,31,52,18,10,55,10,14,10,0,0,0,1688,276,13,10,7,12,7,25,1259,96,7,4,37,23,8,16,1,171,17,32,102,4,4,5,7,267,267,32,82,659,10,0,33,21,8,1698,267,201,20,159,22,66,429,178,2,61,230,21,0,7,1684,112,134,92,60,115,1369,109,134,92,60,97,269,0,0,0,0,18,31,0,0,0,0,0,3,3,0,0,0,0,12,0,0,0,0,0,47,78320

Create entries for columns that aren't mutual between the places and county df's for concatenation.

In [17]:
data['CountyFIPS'] = '189'
data['County'] = 'Wilson County, Tennessee'
wdata['PlaceFIPS'] = 'none'
wdata['Place'] = 'Wilson County'

Concatenate dfs.

In [18]:
frames = [data, wdata]
df = pd.concat(frames).reset_index(drop = True)

In [19]:
df

,Place,GEOID,pop,agebysex_total_series,age_m_55to59,age_m_60to61,age_m_62to64,age_m_65to66,age_m_67to69,age_m_70to74,age_m_75to79,age_m_80to84,age_m_85+,age_f_55to59,age_f_60to61,age_f_62to64,age_f_65to66,age_f_67to69,age_f_70to74,age_f_75to79,age_f_80to84,age_f_85+,veteran_totalveterans_series,veteran_m55to64,veteran_m65to74,veteran_m75+,veteran_f55to64,veteran_f65to74,veteran_f75+,poverty_total_series,poverty_totalbelowpoverty,poverty_m55to64,poverty_m65to74,poverty_m75+,poverty_f55to64,poverty_f65to74,poverty_f75+,ed_total_series,ed_m65+,ed_m65+_less9thgrade,ed_m65+9thto12th,ed_m65+_highschoolgradequivalency,ed_m65+_somecollegenodegree,ed_m65+_associates,ed_m65+_bachelors,ed_m65+_graduateorprofessionaldegree,ed_f65+,ed_f65+_less9thgrade,ed_f65+9thto12th,ed_f65+_highschoolgradequivalency,ed_f65+_somecollegenodegree,ed_f65+_associates,ed_f65+_bachelors,ed_f65+_graduateorprofessionaldegree,livealone_total65+_series,livealone_total65+_inhh,livealone_m65+,livealone_f65+,vehicles_total_byage_series,vehicles_ownerocc_none,vehicles_renterocc_none,grandparent_total_responsibilityforgrandchild_series,grandparent_responsibleforgrandchild,grandparent_resposibleforgrandchild_noparent_60+,computer_total_byage_series,computer_65+_total,computer_65+_computer,computer_65+_computer_dialupalone,computer_65+_computer_broadband,computer_65+_computer_nointernet,computer_65+_nocomputer,housing_total_ownercosts,housing_65+total_ownercosts,housing_65+30to34.9%_ownercosts,housing_65+35%ormore_ownercosts,housing_total_grossrent,housing_65+total_grossrent,housing_65+30to34.9%_grossrent,housing_65+35%ormore_grossrent,geo_total_series,geo_55to59_total,geo_60to64_total,geo_65to69_total,geo_70to74_total,geo_75+_total,geo_samehouse_total,geo_55to59_samehouse,geo_60to64_samehouse,geo_65to69_samehouse,geo_70to74_samehouse,geo_75+_samehouse,geo_movedsamecounty_total,geo_55to59_movedsamecounty,geo_60to64_movedsamecounty,geo_65to69_movedsamecounty,geo_70to74_movedsamecounty,geo_75+_movedsamecounty,geo_moveddifferentcountysamestate_total,geo_55to59_moveddifferentcountysamestate,geo_60to64_moveddifferentcountysamestate,geo_65to69_moveddifferentcountysamestate,geo_70to74_moveddifferentcountysamestate,geo_75+_moveddifferentcountysamestate,geo_moveddifferentstate_total,geo_55to59_moveddifferentstate,geo_60to64_moveddifferentstate,geo_65to69_moveddifferentstate,geo_70to74_moveddifferentstate,geo_75+_moveddifferentstate,geo_movedabroad_total,geo_55to59_movedabroad,geo_60to64_movedabroad,geo_65to69_movedabroad,geo_70to74_movedabroad,geo_75+_movedabroad,StateFIPS,PlaceFIPS,CountyFIPS,County
0,"Lebanon city, Tennessee",1600000US4741520,34759,34759,771,304,487,251,470,574,379,302,293,789,511,578,478,532,659,608,475,663,2394,241,427,481,24,25,0,33228,4881,199,81,7,177,245,194,26689,2269,197,147,771,418,119,439,178,3415,208,246,1392,559,219,445,346,5684,5684,352,1135,12618,27,233,1042,452,59,33154,5219,4290,14,3992,284,929,7230,2515,119,510,5388,742,107,330,34387,1560,1880,1731,1233,2720,27934,1380,1726,1563,1171,2467,3481,81,91,49,27,105,2028,82,60,107,15,84,853,17,3,12,20,56,91,0,0,0,0,8,47,41520,189,"Wilson County, Tennessee"
1,"Mount Juliet city, Tennessee",1600000US4750780,35834,35834,841,579,399,367,674,556,358,139,165,1308,530,624,536,373,635,648,320,102,2080,218,556,345,81,16,0,35739,2182,77,70,37,270,114,69,26368,2259,38,59,640,487,230,538,267,2614,74,73,572,744,232,665,254,4873,4873,357,551,12998,48,141,772,273,70,35739,4818,4640,0,4505,135,178,9773,2233,242,248,3225,431,46,178,35367,2149,2132,1950,1191,1732,30127,2036,1871,1612,1069,1706,2071,0,36,13,0,9,1623,19,124,194,22,4,1487,94,101,131,100,13,59,0,0,0,0,0,47,50780,189,"Wilson County, Tennessee"
2,"Watertown city, Tennessee",1600000US4778320,1698,1698,65,12,18,19,13,29,14,17,4,47,5,99,23,37,31,52,18,10,55,10,14,10,0,0,0,1688,276,13,10,7,12,7,25,1259,96,7,4,37,23,8,16,1,171,17,32,102,4,4,5,7,267,267,32,82,659,10,0,33,21,8,1698,267,201,20,159,22,66,429,178,2,61,230,21,0,7,1684,112,134,92,60,115,1369,109,134,92,60,97,269,0,0,0,0,18,31,0,0,0,0,0,3,3,0,0,0,0,12,0,0,0,0,0,47,78320,189,"Wilson County, Tennessee"
3,Wilson County,0500000US47189,140604,140604,4650,2036,2355,1770,2308,2429,1859,816,768,5025,1876,2826,2130,2252,2841,2064,1417,1256,8996,1292,2332,1673,189,76,0,138664,11497,889,391,99,924,552,384,107393,9950,657,619,3005,2257,665,1823,924,11960,581,764,4616,2585,836,1488,1090,21910,21910,1366,3057,51348,140,418,4125,1763,457,138867,21384,18737,77,17292,1368,2647,39082,10913,649,1790,12266,1781,176,654,139329,9675,9093,8460,5270,8180,121494,8944,8344,7660,5031,7637,8049,280,201,192,73,321,6106,278,314,390,37,132,3425,173,234,218,129,82,255,0,0,0,0,8,47,none,189,"Wilson County, Tennessee"

Drop unneeded ID's so that we can transpose and manipulate df easily.

In [20]:
test = df.drop(columns = ['StateFIPS','PlaceFIPS','CountyFIPS','County']).reset_index(drop = True)

In [21]:
test.head()

,Place,GEOID,pop,agebysex_total_series,age_m_55to59,age_m_60to61,age_m_62to64,age_m_65to66,age_m_67to69,age_m_70to74,age_m_75to79,age_m_80to84,age_m_85+,age_f_55to59,age_f_60to61,age_f_62to64,age_f_65to66,age_f_67to69,age_f_70to74,age_f_75to79,age_f_80to84,age_f_85+,veteran_totalveterans_series,veteran_m55to64,veteran_m65to74,veteran_m75+,veteran_f55to64,veteran_f65to74,veteran_f75+,poverty_total_series,poverty_totalbelowpoverty,poverty_m55to64,poverty_m65to74,poverty_m75+,poverty_f55to64,poverty_f65to74,poverty_f75+,ed_total_series,ed_m65+,ed_m65+_less9thgrade,ed_m65+9thto12th,ed_m65+_highschoolgradequivalency,ed_m65+_somecollegenodegree,ed_m65+_associates,ed_m65+_bachelors,ed_m65+_graduateorprofessionaldegree,ed_f65+,ed_f65+_less9thgrade,ed_f65+9thto12th,ed_f65+_highschoolgradequivalency,ed_f65+_somecollegenodegree,ed_f65+_associates,ed_f65+_bachelors,ed_f65+_graduateorprofessionaldegree,livealone_total65+_series,livealone_total65+_inhh,livealone_m65+,livealone_f65+,vehicles_total_byage_series,vehicles_ownerocc_none,vehicles_renterocc_none,grandparent_total_responsibilityforgrandchild_series,grandparent_responsibleforgrandchild,grandparent_resposibleforgrandchild_noparent_60+,computer_total_byage_series,computer_65+_total,computer_65+_computer,computer_65+_computer_dialupalone,computer_65+_computer_broadband,computer_65+_computer_nointernet,computer_65+_nocomputer,housing_total_ownercosts,housing_65+total_ownercosts,housing_65+30to34.9%_ownercosts,housing_65+35%ormore_ownercosts,housing_total_grossrent,housing_65+total_grossrent,housing_65+30to34.9%_grossrent,housing_65+35%ormore_grossrent,geo_total_series,geo_55to59_total,geo_60to64_total,geo_65to69_total,geo_70to74_total,geo_75+_total,geo_samehouse_total,geo_55to59_samehouse,geo_60to64_samehouse,geo_65to69_samehouse,geo_70to74_samehouse,geo_75+_samehouse,geo_movedsamecounty_total,geo_55to59_movedsamecounty,geo_60to64_movedsamecounty,geo_65to69_movedsamecounty,geo_70to74_movedsamecounty,geo_75+_movedsamecounty,geo_moveddifferentcountysamestate_total,geo_55to59_moveddifferentcountysamestate,geo_60to64_moveddifferentcountysamestate,geo_65to69_moveddifferentcountysamestate,geo_70to74_moveddifferentcountysamestate,geo_75+_moveddifferentcountysamestate,geo_moveddifferentstate_total,geo_55to59_moveddifferentstate,geo_60to64_moveddifferentstate,geo_65to69_moveddifferentstate,geo_70to74_moveddifferentstate,geo_75+_moveddifferentstate,geo_movedabroad_total,geo_55to59_movedabroad,geo_60to64_movedabroad,geo_65to69_movedabroad,geo_70to74_movedabroad,geo_75+_movedabroad
0,"Lebanon city, Tennessee",1600000US4741520,34759,34759,771,304,487,251,470,574,379,302,293,789,511,578,478,532,659,608,475,663,2394,241,427,481,24,25,0,33228,4881,199,81,7,177,245,194,26689,2269,197,147,771,418,119,439,178,3415,208,246,1392,559,219,445,346,5684,5684,352,1135,12618,27,233,1042,452,59,33154,5219,4290,14,3992,284,929,7230,2515,119,510,5388,742,107,330,34387,1560,1880,1731,1233,2720,27934,1380,1726,1563,1171,2467,3481,81,91,49,27,105,2028,82,60,107,15,84,853,17,3,12,20,56,91,0,0,0,0,8
1,"Mount Juliet city, Tennessee",1600000US4750780,35834,35834,841,579,399,367,674,556,358,139,165,1308,530,624,536,373,635,648,320,102,2080,218,556,345,81,16,0,35739,2182,77,70,37,270,114,69,26368,2259,38,59,640,487,230,538,267,2614,74,73,572,744,232,665,254,4873,4873,357,551,12998,48,141,772,273,70,35739,4818,4640,0,4505,135,178,9773,2233,242,248,3225,431,46,178,35367,2149,2132,1950,1191,1732,30127,2036,1871,1612,1069,1706,2071,0,36,13,0,9,1623,19,124,194,22,4,1487,94,101,131,100,13,59,0,0,0,0,0
2,"Watertown city, Tennessee",1600000US4778320,1698,1698,65,12,18,19,13,29,14,17,4,47,5,99,23,37,31,52,18,10,55,10,14,10,0,0,0,1688,276,13,10,7,12,7,25,1259,96,7,4,37,23,8,16,1,171,17,32,102,4,4,5,7,267,267,32,82,659,10,0,33,21,8,1698,267,201,20,159,22,66,429,178,2,61,230,21,0,7,1684,112,134,92,60,115,1369,109,134,92,60,97,269,0,0,0,0,18,31,0,0,0,0,0,3,3,0,0,0,0,12,0,0,0,0,0
3,Wilson County,0500000US47189,140604,140604,4650,2036,2355,1770,2308,2429,1859,816,768,5025,1876,2826,2130,2252,2841,2064,1417,1256,8996,1292,2332,1673,189,76,0,138664,11497,889,391,99,924,552,384,107393,9950,657,619,3005,2257,665,1823,924,11960,581,764,4616,2585,836,1488,1090,21910,21910,1366,3057,51348,140,418,4125,1763,457,138867,21384,18737,77,17292,1368,2647,39082,10913,649,1790,12266,1781,176,654,139329,9675,9093,8460,5270,8180,121494,8944,8344,7660,5031,7637,8049,280,201,192,73,321,6106,278,314,390,37,132,3425,173,234,218,129,82,255,0,0,0,0,8

In [22]:
cols = ['pop','agebysex_total_series','age_m_55to59','age_m_60to61',
        'age_m_62to64','age_m_65to66','age_m_67to69','age_m_70to74','age_m_75to79','age_m_80to84','age_m_85+','age_f_55to59','age_f_60to61','age_f_62to64','age_f_65to66','age_f_67to69','age_f_70to74','age_f_75to79','age_f_80to84',
        'age_f_85+','veteran_totalveterans_series','veteran_m55to64','veteran_m65to74','veteran_m75+','veteran_f55to64','veteran_f65to74','veteran_f75+',
        'poverty_total_series','poverty_totalbelowpoverty','poverty_m55to64','poverty_m65to74','poverty_m75+','poverty_f55to64','poverty_f65to74','poverty_f75+',
        'ed_total_series','ed_m65+','ed_m65+_less9thgrade','ed_m65+9thto12th','ed_m65+_highschoolgradequivalency','ed_m65+_somecollegenodegree','ed_m65+_associates',
        'ed_m65+_bachelors','ed_m65+_graduateorprofessionaldegree','ed_f65+','ed_f65+_less9thgrade','ed_f65+9thto12th','ed_f65+_highschoolgradequivalency',
        'ed_f65+_somecollegenodegree','ed_f65+_associates','ed_f65+_bachelors','ed_f65+_graduateorprofessionaldegree','livealone_total65+_series',
        'livealone_total65+_inhh','livealone_m65+','livealone_f65+','vehicles_total_byage_series','vehicles_ownerocc_none','vehicles_renterocc_none',
        'grandparent_total_responsibilityforgrandchild_series','grandparent_responsibleforgrandchild','grandparent_resposibleforgrandchild_noparent_60+',
        'computer_total_byage_series','computer_65+_total','computer_65+_computer','computer_65+_computer_dialupalone','computer_65+_computer_broadband',
        'computer_65+_computer_nointernet','computer_65+_nocomputer','housing_total_ownercosts','housing_65+total_ownercosts','housing_65+30to34.9%_ownercosts',
        'housing_65+35%ormore_ownercosts','housing_total_grossrent','housing_65+total_grossrent','housing_65+30to34.9%_grossrent','housing_65+35%ormore_grossrent',
        'geo_total_series','geo_55to59_total','geo_60to64_total','geo_65to69_total','geo_70to74_total','geo_75+_total','geo_samehouse_total','geo_55to59_samehouse',
        'geo_60to64_samehouse','geo_65to69_samehouse','geo_70to74_samehouse','geo_75+_samehouse','geo_movedsamecounty_total','geo_55to59_movedsamecounty',
        'geo_60to64_movedsamecounty','geo_65to69_movedsamecounty','geo_70to74_movedsamecounty','geo_75+_movedsamecounty','geo_moveddifferentcountysamestate_total',
        'geo_55to59_moveddifferentcountysamestate','geo_60to64_moveddifferentcountysamestate',
        'geo_65to69_moveddifferentcountysamestate','geo_70to74_moveddifferentcountysamestate','geo_75+_moveddifferentcountysamestate',
        'geo_moveddifferentstate_total','geo_55to59_moveddifferentstate','geo_60to64_moveddifferentstate','geo_65to69_moveddifferentstate',
        'geo_70to74_moveddifferentstate','geo_75+_moveddifferentstate','geo_movedabroad_total','geo_55to59_movedabroad','geo_60to64_movedabroad',
        'geo_65to69_movedabroad','geo_70to74_movedabroad','geo_75+_movedabroad']
test[cols] = test[cols].astype(int)

Transpose so that it's easy to calculate differences between the incorporated areas and the county to represent the unincorporated areas.

In [23]:
test = test.transpose()

In [24]:
test.columns = test.iloc[0]

In [25]:
test.head(10)

Place                  Lebanon city, Tennessee  Mount Juliet city, Tennessee  Watertown city, Tennessee   Wilson County
Place                  Lebanon city, Tennessee  Mount Juliet city, Tennessee  Watertown city, Tennessee   Wilson County
GEOID                         1600000US4741520              1600000US4750780           1600000US4778320  0500000US47189
pop                                      34759                         35834                       1698          140604
agebysex_total_series                    34759                         35834                       1698          140604
age_m_55to59                               771                           841                         65            4650
age_m_60to61                               304                           579                         12            2036
age_m_62to64                               487                           399                         18            2355
age_m_65to66                               251                           367                         19            1770
age_m_67to69                               470                           674                         13            2308
age_m_70to74                               574                           556                         29            2429

Drop the first two rows.

In [26]:
test = test.loc[test['Lebanon city, Tennessee'] != 'Lebanon city, Tennessee']
test = test.loc[test['Lebanon city, Tennessee'] != '1600000US4741520']

In [27]:
test['Unincorporated Areas'] = test['Wilson County'] - (test['Lebanon city, Tennessee']+test['Mount Juliet city, Tennessee']+test['Watertown city, Tennessee'])

In [28]:
test.head()

Place                 Lebanon city, Tennessee Mount Juliet city, Tennessee Watertown city, Tennessee Wilson County Unincorporated Areas
pop                                     34759                        35834                      1698        140604                68313
agebysex_total_series                   34759                        35834                      1698        140604                68313
age_m_55to59                              771                          841                        65          4650                 2973
age_m_60to61                              304                          579                        12          2036                 1141
age_m_62to64                              487                          399                        18          2355                 1451

Now Transpose Back

In [29]:
data = test.transpose().reset_index()

In [30]:
data.head()

,Place,pop,agebysex_total_series,age_m_55to59,age_m_60to61,age_m_62to64,age_m_65to66,age_m_67to69,age_m_70to74,age_m_75to79,age_m_80to84,age_m_85+,age_f_55to59,age_f_60to61,age_f_62to64,age_f_65to66,age_f_67to69,age_f_70to74,age_f_75to79,age_f_80to84,age_f_85+,veteran_totalveterans_series,veteran_m55to64,veteran_m65to74,veteran_m75+,veteran_f55to64,veteran_f65to74,veteran_f75+,poverty_total_series,poverty_totalbelowpoverty,poverty_m55to64,poverty_m65to74,poverty_m75+,poverty_f55to64,poverty_f65to74,poverty_f75+,ed_total_series,ed_m65+,ed_m65+_less9thgrade,ed_m65+9thto12th,ed_m65+_highschoolgradequivalency,ed_m65+_somecollegenodegree,ed_m65+_associates,ed_m65+_bachelors,ed_m65+_graduateorprofessionaldegree,ed_f65+,ed_f65+_less9thgrade,ed_f65+9thto12th,ed_f65+_highschoolgradequivalency,ed_f65+_somecollegenodegree,ed_f65+_associates,ed_f65+_bachelors,ed_f65+_graduateorprofessionaldegree,livealone_total65+_series,livealone_total65+_inhh,livealone_m65+,livealone_f65+,vehicles_total_byage_series,vehicles_ownerocc_none,vehicles_renterocc_none,grandparent_total_responsibilityforgrandchild_series,grandparent_responsibleforgrandchild,grandparent_resposibleforgrandchild_noparent_60+,computer_total_byage_series,computer_65+_total,computer_65+_computer,computer_65+_computer_dialupalone,computer_65+_computer_broadband,computer_65+_computer_nointernet,computer_65+_nocomputer,housing_total_ownercosts,housing_65+total_ownercosts,housing_65+30to34.9%_ownercosts,housing_65+35%ormore_ownercosts,housing_total_grossrent,housing_65+total_grossrent,housing_65+30to34.9%_grossrent,housing_65+35%ormore_grossrent,geo_total_series,geo_55to59_total,geo_60to64_total,geo_65to69_total,geo_70to74_total,geo_75+_total,geo_samehouse_total,geo_55to59_samehouse,geo_60to64_samehouse,geo_65to69_samehouse,geo_70to74_samehouse,geo_75+_samehouse,geo_movedsamecounty_total,geo_55to59_movedsamecounty,geo_60to64_movedsamecounty,geo_65to69_movedsamecounty,geo_70to74_movedsamecounty,geo_75+_movedsamecounty,geo_moveddifferentcountysamestate_total,geo_55to59_moveddifferentcountysamestate,geo_60to64_moveddifferentcountysamestate,geo_65to69_moveddifferentcountysamestate,geo_70to74_moveddifferentcountysamestate,geo_75+_moveddifferentcountysamestate,geo_moveddifferentstate_total,geo_55to59_moveddifferentstate,geo_60to64_moveddifferentstate,geo_65to69_moveddifferentstate,geo_70to74_moveddifferentstate,geo_75+_moveddifferentstate,geo_movedabroad_total,geo_55to59_movedabroad,geo_60to64_movedabroad,geo_65to69_movedabroad,geo_70to74_movedabroad,geo_75+_movedabroad
0,"Lebanon city, Tennessee",34759,34759,771,304,487,251,470,574,379,302,293,789,511,578,478,532,659,608,475,663,2394,241,427,481,24,25,0,33228,4881,199,81,7,177,245,194,26689,2269,197,147,771,418,119,439,178,3415,208,246,1392,559,219,445,346,5684,5684,352,1135,12618,27,233,1042,452,59,33154,5219,4290,14,3992,284,929,7230,2515,119,510,5388,742,107,330,34387,1560,1880,1731,1233,2720,27934,1380,1726,1563,1171,2467,3481,81,91,49,27,105,2028,82,60,107,15,84,853,17,3,12,20,56,91,0,0,0,0,8
1,"Mount Juliet city, Tennessee",35834,35834,841,579,399,367,674,556,358,139,165,1308,530,624,536,373,635,648,320,102,2080,218,556,345,81,16,0,35739,2182,77,70,37,270,114,69,26368,2259,38,59,640,487,230,538,267,2614,74,73,572,744,232,665,254,4873,4873,357,551,12998,48,141,772,273,70,35739,4818,4640,0,4505,135,178,9773,2233,242,248,3225,431,46,178,35367,2149,2132,1950,1191,1732,30127,2036,1871,1612,1069,1706,2071,0,36,13,0,9,1623,19,124,194,22,4,1487,94,101,131,100,13,59,0,0,0,0,0
2,"Watertown city, Tennessee",1698,1698,65,12,18,19,13,29,14,17,4,47,5,99,23,37,31,52,18,10,55,10,14,10,0,0,0,1688,276,13,10,7,12,7,25,1259,96,7,4,37,23,8,16,1,171,17,32,102,4,4,5,7,267,267,32,82,659,10,0,33,21,8,1698,267,201,20,159,22,66,429,178,2,61,230,21,0,7,1684,112,134,92,60,115,1369,109,134,92,60,97,269,0,0,0,0,18,31,0,0,0,0,0,3,3,0,0,0,0,12,0,0,0,0,0
3,Wilson County,140604,140604,4650,2036,2355,1770,2308,2429,1859,816,768,5025,1876,2826,2130,2252,2841,2064,1417,1256,8996,1292,2332,1673,189,76,0,138664,11497,889,391,99,924,552,384,107393,9950,657,619,3005,2257,665,1823,924,11960,581,764,4616,2585,836,1488,1090,21910,21910,1366,3057,51348,140,418,4125,1763,457,138867,21384,18737,77,17292,1368,2647,39082,10913,649,1790,12266,1781,176,654,139329,9675,9093,8460,5270,8180,121494,8944,8344,7660,5031,7637,8049,280,201,192,73,321,6106,278,314,390,37,132,3425,173,234,218,129,82,255,0,0,0,0,8
4,Unincorporated Areas,68313,68313,2973,1141,1451,1133,1151,1270,1108,358,306,2881,830,1525,1093,1310,1516,756,604,481,4467,823,1335,837,84,35,0,68009,4158,600,230,48,465,186,96,53077,5326,415,409,1557,1329,308,830,478,5760,282,413,2550,1278,381,373,483,11086,11086,625,1289,25073,55,44,2278,1017,320,68276,11080,9606,43,8636,927,1474,21650,5987,286,971,3423,587,23,139,67891,5854,4947,4687,2786,3613,62064,5419,4613,4393,2731,3367,2228,199,74,130,46,189,2424,177,130,89,0,44,1082,59,130,75,9,13,93,0,0,0,0,0

## Calculations

###### Set cols to float for calculations

In [31]:
data[cols] = data[cols].astype(float)

#### Age

Add groups.

In [34]:
data = data.copy()
data['total55+'] = data['age_m_55to59']+data['age_m_60to61']+data['age_m_62to64']+data['age_m_65to66']+data['age_m_67to69']+data['age_m_70to74']+data['age_m_75to79']+data['age_m_80to84']+data['age_m_85+']+data['age_f_55to59']+data['age_f_60to61']+data['age_f_62to64']+data['age_f_65to66']+data['age_f_67to69']+data['age_f_70to74']+data['age_f_75to79']+data['age_f_80to84']+data['age_f_85+']
data['total65+'] = data['age_m_65to66']+data['age_m_67to69']+data['age_m_70to74']+data['age_m_75to79']+data['age_m_80to84']+data['age_m_85+']+data['age_f_65to66']+data['age_f_67to69']+data['age_f_70to74']+data['age_f_75to79']+data['age_f_80to84']+data['age_f_85+']

Calculate percentages.

In [36]:
data = data.copy()
data['%55+'] = round((data['total55+'])*100/data['agebysex_total_series'],2)
data['%65+'] = round((data['total65+'])*100/data['agebysex_total_series'],2)

Drop input columns.

In [37]:
data = data.drop(columns = ['agebysex_total_series','age_m_55to59','age_m_60to61','age_m_62to64','age_m_65to66','age_m_67to69','age_m_70to74',
                            'age_m_75to79','age_m_80to84','age_m_85+','age_f_55to59','age_f_60to61','age_f_62to64','age_f_65to66',
                            'age_f_67to69','age_f_70to74','age_f_75to79','age_f_80to84','age_f_85+'])

## Veterans

Add groups.

In [38]:
data['veterans55+'] = data['veteran_m55to64']+data['veteran_m65to74']+data['veteran_m75+']+data['veteran_f55to64']+data['veteran_f65to74']+data['veteran_f75+']
data['veterans65+'] = data['veteran_m65to74']+data['veteran_m75+']+data['veteran_f65to74']+data['veteran_f75+']

Calculate percentages.

In [39]:
data = data.copy()
data['%ofveterans55+'] = round((data['veterans55+'])*100/data['veteran_totalveterans_series'],2)
data['%ofveterans65+'] = round((data['veterans65+'])*100/data['veteran_totalveterans_series'],2)

Drop input columns.

In [40]:
data = data.drop(columns = ['veteran_totalveterans_series','veteran_m55to64','veteran_m65to74','veteran_m75+','veteran_f55to64','veteran_f65to74','veteran_f75+'])

## Poverty

Add groups.

In [41]:
data['poverty55+'] = data['poverty_m55to64']+data['poverty_m65to74']+data['poverty_m75+']+data['poverty_f55to64']+data['poverty_f65to74']+data['poverty_f75+']
data['poverty65+'] = data['poverty_m65to74']+data['poverty_m75+']+data['poverty_f65to74']+data['poverty_f75+']

Calculate percentages.

In [42]:
data = data.copy()
data['inpoverty55+_%ofbelowpovertylevelpopulation'] = round((data['poverty55+'])*100/data['poverty_totalbelowpoverty'],2)
data['inpoverty65+_%ofbelowpovertylevelpopulation'] = round((data['poverty65+'])*100/data['poverty_totalbelowpoverty'],2)
data['%inpoverty55+'] = round((data['poverty55+'])*100/data['total55+'],2)
data['%inpoverty65+'] = round((data['poverty65+'])*100/data['total65+'],2)

Drop input columns.

In [43]:
data = data.drop(columns = ['poverty_total_series','poverty_totalbelowpoverty','poverty_m55to64','poverty_m65to74','poverty_m75+','poverty_f55to64',
                            'poverty_f65to74','poverty_f75+'])

## Educational Attainment

Add groups.

In [44]:
data['edattainment_65+_total'] = data['ed_m65+']+data['ed_f65+']
data['edattainment_65+_lessthan9thgrade'] = data['ed_m65+_less9thgrade']+data['ed_f65+_less9thgrade']
data['edattainment_65+_9thto12thnodiploma'] = data['ed_m65+9thto12th']+data['ed_f65+9thto12th']
data['edattainment_65+_hsgradorequivalency'] = data['ed_m65+_highschoolgradequivalency']+data['ed_f65+_highschoolgradequivalency']
data['edattainment_65+_somecollegenodegree'] = data['ed_m65+_somecollegenodegree']+data['ed_f65+_somecollegenodegree']
data['edattainment_65+_associates'] = data['ed_m65+_associates']+data['ed_f65+_associates']
data['edattainment_65+_bachelors'] = data['ed_m65+_bachelors']+data['ed_f65+_bachelors']
data['edattainment_65+_gradorprofessionaldegree'] = data['ed_m65+_graduateorprofessionaldegree']+data['ed_f65+_graduateorprofessionaldegree']

Calculate percentages.

In [45]:
data = data.copy()
data['%65+lessthan9thgrade'] = round((data['edattainment_65+_lessthan9thgrade'])*100/data['edattainment_65+_total'],2)
data['%65+9thto12thnodiploma'] = round((data['edattainment_65+_9thto12thnodiploma'])*100/data['edattainment_65+_total'],2)
data['%65+hsgradorequivalency'] = round((data['edattainment_65+_hsgradorequivalency'])*100/data['edattainment_65+_total'],2)
data['%65+somecollegenodegree'] = round((data['edattainment_65+_somecollegenodegree'])*100/data['edattainment_65+_total'],2)
data['%65+associates'] = round((data['edattainment_65+_associates'])*100/data['edattainment_65+_total'],2)
data['%65+bachelors'] = round((data['edattainment_65+_bachelors'])*100/data['edattainment_65+_total'],2)
data['%65+gradorprofessionaldegree'] = round((data['edattainment_65+_gradorprofessionaldegree'])*100/data['edattainment_65+_total'],2)

Drop input columns.

In [46]:
data = data.drop(columns = ['ed_total_series','ed_m65+','ed_m65+_less9thgrade','ed_m65+9thto12th','ed_m65+_highschoolgradequivalency','ed_m65+_somecollegenodegree','ed_m65+_associates',
        'ed_m65+_bachelors','ed_m65+_graduateorprofessionaldegree','ed_f65+','ed_f65+_less9thgrade','ed_f65+9thto12th','ed_f65+_highschoolgradequivalency',
        'ed_f65+_somecollegenodegree','ed_f65+_associates','ed_f65+_bachelors','ed_f65+_graduateorprofessionaldegree'])

## Live Alone

Add groups.

In [47]:
data['livealone_65+'] = data['livealone_m65+']+data['livealone_f65+']

Calculate percentages.

In [48]:
data = data.copy()
data['%livealone_65+'] = round((data['livealone_65+'])*100/data['total65+'],2)

Drop input columns.

In [49]:
data = data.drop(columns = ['livealone_total65+_series',
        'livealone_total65+_inhh','livealone_m65+','livealone_f65+'])

## Vehicles for Senior Householders

Add groups.

In [50]:
data['novehicle_householder65+'] = data['vehicles_ownerocc_none'] + data['vehicles_renterocc_none']

Drop input columns.

In [51]:
data = data.drop(columns = ['vehicles_total_byage_series','vehicles_ownerocc_none','vehicles_renterocc_none'])

## Responsible for Grandchildren No Parent Present

Add groups.

In [52]:
data['grandparent60+_grandchild_noparent'] = data['grandparent_resposibleforgrandchild_noparent_60+']

Drop input columns.

In [53]:
data = data.drop(columns = ['grandparent_total_responsibilityforgrandchild_series','grandparent_responsibleforgrandchild','grandparent_resposibleforgrandchild_noparent_60+'])

## Computer Device

Add groups.

In [54]:
data['hascomputer_65+'] = data['computer_65+_computer']
data['hascomputer_65+_dialup'] = data['computer_65+_computer_dialupalone']
data['hascomputer_65+_broadband'] = data['computer_65+_computer_broadband']
data['hascomputer_65+_nointernet'] = data['computer_65+_computer_nointernet']
data['nocomputer_65+'] = data['computer_65+_nocomputer']

Calculate percentages.

In [55]:
data['%65+_hascomputer'] = round((data['hascomputer_65+'])*100/data['total65+'],2)
data['%65+_hascomputer_dialup'] = round((data['hascomputer_65+_dialup'])*100/data['total65+'],2)
data['%65+_hascomputer_broadband'] = round((data['hascomputer_65+_broadband'])*100/data['total65+'],2)
data['%65+_hascomputer_nointernet'] = round((data['hascomputer_65+_nointernet'])*100/data['total65+'],2)
data['%65+_nocomputer'] = round((data['nocomputer_65+'])*100/data['total65+'],2)

Drop input columns.

In [56]:
data = data.drop(columns = ['computer_total_byage_series','computer_65+_total','computer_65+_computer','computer_65+_computer_dialupalone','computer_65+_computer_broadband',
        'computer_65+_computer_nointernet','computer_65+_nocomputer'])

## Housing Burden

Add groups.

In [57]:
data['housingburden_65+'] = data['housing_65+30to34.9%_ownercosts']+data['housing_65+35%ormore_ownercosts']+data['housing_65+30to34.9%_grossrent']+data['housing_65+35%ormore_grossrent']
data['extremehousingburden35%ormore_65+']=data['housing_65+35%ormore_ownercosts']+data['housing_65+35%ormore_grossrent']
data['housingburden_65+_owner'] = data['housing_65+30to34.9%_ownercosts']+data['housing_65+35%ormore_ownercosts']
data['extremehousingburden35%ormore_65+_owner']=data['housing_65+35%ormore_ownercosts']
data['housingburden_65+_renter'] = data['housing_65+30to34.9%_grossrent']+data['housing_65+35%ormore_grossrent']
data['extremehousingburden35%ormore_65+_renter']=data['housing_65+35%ormore_grossrent']

Calculate percentages.

In [58]:
data['%65+_housingburdened'] = round((data['housingburden_65+'])*100/data['total65+'],2)
data['%65+_extremehousingburdened'] = round((data['extremehousingburden35%ormore_65+'])*100/data['total65+'],2)
data['%65+_housingburdened_owner'] = round((data['housingburden_65+_owner'])*100/data['total65+'],2)
data['%65+_extremehousingburdened_owner'] = round((data['extremehousingburden35%ormore_65+_owner'])*100/data['total65+'],2)
data['%65+_housingburdened_renter'] = round((data['housingburden_65+_renter'])*100/data['total65+'],2)
data['%65+_extremehousingburdened_renter'] = round((data['extremehousingburden35%ormore_65+_renter'])*100/data['total65+'],2)

Drop input columns.

In [59]:
data = data.drop(columns = ['housing_total_ownercosts','housing_65+total_ownercosts','housing_65+30to34.9%_ownercosts',
        'housing_65+35%ormore_ownercosts','housing_total_grossrent','housing_65+total_grossrent','housing_65+30to34.9%_grossrent','housing_65+35%ormore_grossrent'])

## Geographic Mobility within the Past Year

Add groups.

In [60]:
data['movedpastyear_55+_nomove_samehouse'] = data['geo_55to59_samehouse']+data['geo_60to64_samehouse']+data['geo_65to69_samehouse']+data['geo_70to74_samehouse']+data['geo_75+_samehouse']
data['movedpastyear_55+_samecounty'] = data['geo_55to59_movedsamecounty']+data['geo_60to64_movedsamecounty']+data['geo_65to69_movedsamecounty']+data['geo_70to74_movedsamecounty']+data['geo_75+_movedsamecounty']
data['movedpastyear_55+_movedcountiessamestate'] = data['geo_55to59_moveddifferentcountysamestate']+data['geo_60to64_moveddifferentcountysamestate']+data['geo_65to69_moveddifferentcountysamestate']+data['geo_70to74_moveddifferentcountysamestate']+data['geo_75+_moveddifferentcountysamestate']
data['movedpastyear_55+_movedstates'] = data['geo_55to59_moveddifferentstate']+data['geo_60to64_moveddifferentstate']+data['geo_65to69_moveddifferentstate']+data['geo_70to74_moveddifferentstate']+data['geo_75+_moveddifferentstate']
data['movedpastyear_55+_movedfromabroad'] = data['geo_55to59_movedabroad']+data['geo_60to64_movedabroad']+data['geo_65to69_movedabroad']+data['geo_70to74_movedabroad']+data['geo_75+_movedabroad']

data['movedpastyear_65+_nomove_samehouse'] =data['geo_65to69_samehouse']+data['geo_70to74_samehouse']+data['geo_75+_samehouse']
data['movedpastyear_65+_samecounty'] = data['geo_65to69_movedsamecounty']+data['geo_70to74_movedsamecounty']+data['geo_75+_movedsamecounty']
data['movedpastyear_65+_movedcountiessamestate'] = data['geo_65to69_moveddifferentcountysamestate']+data['geo_70to74_moveddifferentcountysamestate']+data['geo_75+_moveddifferentcountysamestate']
data['movedpastyear_65+_movedstates'] = data['geo_65to69_moveddifferentstate']+data['geo_70to74_moveddifferentstate']+data['geo_75+_moveddifferentstate']
data['movedpastyear_65+_movedfromabroad'] = data['geo_65to69_movedabroad']+data['geo_70to74_movedabroad']+data['geo_75+_movedabroad']

data['55+geoseries'] = data['geo_55to59_total']+data['geo_60to64_total']+data['geo_65to69_total']+data['geo_70to74_total']+data['geo_75+_samehouse']
data['65+geoseries'] = data['geo_65to69_total']+data['geo_70to74_total']+data['geo_75+_samehouse']

Calculate percentages.

In [61]:
data['%55+_nomove_samehouse'] = round((data['movedpastyear_55+_nomove_samehouse'])*100/data['55+geoseries'],2)
data['%55+_movedsamecounty']= round((data['movedpastyear_55+_samecounty'])*100/data['55+geoseries'],2)
data['%55+_movedcountiessamestate']= round((data['movedpastyear_55+_movedcountiessamestate'])*100/data['55+geoseries'],2)
data['%55+_movedstates']= round((data['movedpastyear_55+_movedstates'])*100/data['55+geoseries'],2)
data['%55+_movedfromabroad']= round((data['movedpastyear_55+_movedfromabroad'])*100/data['55+geoseries'],2)

data['%65+_nomove_samehouse'] = round((data['movedpastyear_65+_nomove_samehouse'])*100/data['65+geoseries'],2)
data['%65+_movedsamecounty']= round((data['movedpastyear_65+_samecounty'])*100/data['65+geoseries'],2)
data['%65+_movedcountiessamestate']= round((data['movedpastyear_65+_movedcountiessamestate'])*100/data['65+geoseries'],2)
data['%65+_movedstates']= round((data['movedpastyear_65+_movedstates'])*100/data['65+geoseries'],2)
data['%65+_movedfromabroad']= round((data['movedpastyear_65+_movedfromabroad'])*100/data['65+geoseries'],2)

Drop input columns.

In [62]:
data = data.drop(columns = ['geo_total_series','geo_55to59_total','geo_60to64_total','geo_65to69_total','geo_70to74_total','geo_75+_total','geo_samehouse_total','geo_55to59_samehouse',
        'geo_60to64_samehouse','geo_65to69_samehouse','geo_70to74_samehouse','geo_75+_samehouse','geo_movedsamecounty_total','geo_55to59_movedsamecounty',
        'geo_60to64_movedsamecounty','geo_65to69_movedsamecounty','geo_70to74_movedsamecounty','geo_75+_movedsamecounty','geo_moveddifferentcountysamestate_total',
        'geo_55to59_moveddifferentcountysamestate','geo_60to64_moveddifferentcountysamestate',
        'geo_65to69_moveddifferentcountysamestate','geo_70to74_moveddifferentcountysamestate','geo_75+_moveddifferentcountysamestate',
        'geo_moveddifferentstate_total','geo_55to59_moveddifferentstate','geo_60to64_moveddifferentstate','geo_65to69_moveddifferentstate',
        'geo_70to74_moveddifferentstate','geo_75+_moveddifferentstate','geo_movedabroad_total','geo_55to59_movedabroad','geo_60to64_movedabroad',
        'geo_65to69_movedabroad','geo_70to74_movedabroad','geo_75+_movedabroad'])

## Export

In [63]:
data.head()

,Place,pop,total55+,total65+,%55+,%65+,veterans55+,veterans65+,%ofveterans55+,%ofveterans65+,poverty55+,poverty65+,inpoverty55+_%ofbelowpovertylevelpopulation,inpoverty65+_%ofbelowpovertylevelpopulation,%inpoverty55+,%inpoverty65+,edattainment_65+_total,edattainment_65+_lessthan9thgrade,edattainment_65+_9thto12thnodiploma,edattainment_65+_hsgradorequivalency,edattainment_65+_somecollegenodegree,edattainment_65+_associates,edattainment_65+_bachelors,edattainment_65+_gradorprofessionaldegree,%65+lessthan9thgrade,%65+9thto12thnodiploma,%65+hsgradorequivalency,%65+somecollegenodegree,%65+associates,%65+bachelors,%65+gradorprofessionaldegree,livealone_65+,%livealone_65+,novehicle_householder65+,grandparent60+_grandchild_noparent,hascomputer_65+,hascomputer_65+_dialup,hascomputer_65+_broadband,hascomputer_65+_nointernet,nocomputer_65+,%65+_hascomputer,%65+_hascomputer_dialup,%65+_hascomputer_broadband,%65+_hascomputer_nointernet,%65+_nocomputer,housingburden_65+,extremehousingburden35%ormore_65+,housingburden_65+_owner,extremehousingburden35%ormore_65+_owner,housingburden_65+_renter,extremehousingburden35%ormore_65+_renter,%65+_housingburdened,%65+_extremehousingburdened,%65+_housingburdened_owner,%65+_extremehousingburdened_owner,%65+_housingburdened_renter,%65+_extremehousingburdened_renter,movedpastyear_55+_nomove_samehouse,movedpastyear_55+_samecounty,movedpastyear_55+_movedcountiessamestate,movedpastyear_55+_movedstates,movedpastyear_55+_movedfromabroad,movedpastyear_65+_nomove_samehouse,movedpastyear_65+_samecounty,movedpastyear_65+_movedcountiessamestate,movedpastyear_65+_movedstates,movedpastyear_65+_movedfromabroad,55+geoseries,65+geoseries,%55+_nomove_samehouse,%55+_movedsamecounty,%55+_movedcountiessamestate,%55+_movedstates,%55+_movedfromabroad,%65+_nomove_samehouse,%65+_movedsamecounty,%65+_movedcountiessamestate,%65+_movedstates,%65+_movedfromabroad
0,"Lebanon city, Tennessee",34759.0,9124.0,5684.0,26.25,16.35,1198.0,933.0,50.04,38.97,903.0,527.0,18.50,10.80,9.90,9.27,5684.0,405.0,393.0,2163.0,977.0,338.0,884.0,524.0,7.13,6.91,38.05,17.19,5.95,15.55,9.22,1487.0,26.16,260.0,59.0,4290.0,14.0,3992.0,284.0,929.0,75.48,0.25,70.23,5.00,16.34,1066.0,840.0,629.0,510.0,437.0,330.0,18.75,14.78,11.07,8.97,7.69,5.81,8307.0,353.0,348.0,108.0,8.0,5201.0,181.0,206.0,88.0,8.0,8871.0,5431.0,93.64,3.98,3.92,1.22,0.09,95.77,3.33,3.79,1.62,0.15
1,"Mount Juliet city, Tennessee",35834.0,9154.0,4873.0,25.55,13.60,1216.0,917.0,58.46,44.09,637.0,290.0,29.19,13.29,6.96,5.95,4873.0,112.0,132.0,1212.0,1231.0,462.0,1203.0,521.0,2.30,2.71,24.87,25.26,9.48,24.69,10.69,908.0,18.63,189.0,70.0,4640.0,0.0,4505.0,135.0,178.0,95.22,0.00,92.45,2.77,3.65,714.0,426.0,490.0,248.0,224.0,178.0,14.65,8.74,10.06,5.09,4.60,3.65,8294.0,58.0,363.0,439.0,0.0,4387.0,22.0,220.0,244.0,0.0,9128.0,4847.0,90.86,0.64,3.98,4.81,0.00,90.51,0.45,4.54,5.03,0.00
2,"Watertown city, Tennessee",1698.0,513.0,267.0,30.21,15.72,34.0,24.0,61.82,43.64,74.0,49.0,26.81,17.75,14.42,18.35,267.0,24.0,36.0,139.0,27.0,12.0,21.0,8.0,8.99,13.48,52.06,10.11,4.49,7.87,3.00,114.0,42.70,10.0,8.0,201.0,20.0,159.0,22.0,66.0,75.28,7.49,59.55,8.24,24.72,70.0,68.0,63.0,61.0,7.0,7.0,26.22,25.47,23.60,22.85,2.62,2.62,492.0,18.0,0.0,3.0,0.0,249.0,18.0,0.0,0.0,0.0,495.0,249.0,99.39,3.64,0.00,0.61,0.00,100.00,7.23,0.00,0.00,0.00
3,Wilson County,140604.0,40678.0,21910.0,28.93,15.58,5562.0,4081.0,61.83,45.36,3239.0,1426.0,28.17,12.40,7.96,6.51,21910.0,1238.0,1383.0,7621.0,4842.0,1501.0,3311.0,2014.0,5.65,6.31,34.78,22.10,6.85,15.11,9.19,4423.0,20.19,558.0,457.0,18737.0,77.0,17292.0,1368.0,2647.0,85.52,0.35,78.92,6.24,12.08,3269.0,2444.0,2439.0,1790.0,830.0,654.0,14.92,11.15,11.13,8.17,3.79,2.98,37616.0,1067.0,1151.0,836.0,8.0,20328.0,586.0,559.0,429.0,8.0,40135.0,21367.0,93.72,2.66,2.87,2.08,0.02,95.14,2.74,2.62,2.01,0.04
4,Unincorporated Areas,68313.0,21887.0,11086.0,32.04,16.23,3114.0,2207.0,69.71,49.41,1625.0,560.0,39.08,13.47,7.42,5.05,11086.0,697.0,822.0,4107.0,2607.0,689.0,1203.0,961.0,6.29,7.41,37.05,23.52,6.22,10.85,8.67,1914.0,17.27,99.0,320.0,9606.0,43.0,8636.0,927.0,1474.0,86.65,0.39,77.90,8.36,13.30,1419.0,1110.0,1257.0,971.0,162.0,139.0,12.80,10.01,11.34,8.76,1.46,1.25,20523.0,638.0,440.0,286.0,0.0,10491.0,365.0,133.0,97.0,0.0,21641.0,10840.0,94.83,2.95,2.03,1.32,0.00,96.78,3.37,1.23,0.89,0.00

In [64]:
transp = data.transpose()

In [66]:
transp.columns = transp.iloc[0]

In [69]:
transp.head()

Place    Lebanon city, Tennessee Mount Juliet city, Tennessee Watertown city, Tennessee Wilson County Unincorporated Areas
pop                      34759.0                      35834.0                    1698.0      140604.0              68313.0
total55+                  9124.0                       9154.0                     513.0       40678.0              21887.0
total65+                  5684.0                       4873.0                     267.0       21910.0              11086.0
%55+                       26.25                        25.55                     30.21         28.93                32.04
%65+                       16.35                         13.6                     15.72         15.58                16.23

In [68]:
#drop redundant column
transp = transp.loc[transp['Lebanon city, Tennessee'] != 'Lebanon city, Tennessee']

In [71]:
#write to csv
transp.to_csv('../data/wilsonrides.csv')